인구피라미드

1.데이터 읽어오기

In [2]:
import pandas as pd

df_m = pd.read_excel("data/2509연령별인구현황.xlsx", skiprows=3, index_col='행정기관', usecols='B,E:Y')
df_m

,0~4세,5~9세,10~14세,15~19세,20~24세,25~29세,30~34세,35~39세,40~44세,45~49세,...,55~59세,60~64세,65~69세,70~74세,75~79세,80~84세,85~89세,90~94세,95~99세,100세 이상
행정기관,,,,,,,,,,,,,,,,,,,,,
전국,"1,251,429","1,745,185","2,313,809","2,316,266","2,496,610","3,261,029","3,516,086","3,145,253","3,736,663","3,873,520",...,"4,326,838","4,127,394","3,751,986","2,585,854","1,850,619","1,356,751","788,623","292,592","64,412","8,978"
서울특별시,"201,692","263,714","349,856","370,857","505,624","768,646","806,286","651,106","688,333","680,560",...,"720,741","674,997","643,456","467,429","347,010","241,767","126,352","43,656","10,221","1,510"
부산광역시,"69,765","102,641","135,740","128,517","153,740","190,529","204,122","184,373","226,768","235,964",...,"270,100","274,686","279,090","209,353","147,602","100,879","51,848","16,904","3,565",439
대구광역시,"54,308","81,653","107,209","105,746","117,346","140,108","149,374","135,507","162,480","175,277",...,"210,359","200,363","177,354","128,022","89,803","65,200","36,741","12,845","2,411",287
인천광역시,"82,357","108,240","138,968","136,552","145,194","196,646","226,108","203,353","236,773","237,681",...,"257,841","252,638","216,986","134,972","93,847","64,610","36,936","14,188","3,453",542
광주광역시,"34,853","52,674","71,134","73,187","79,191","94,618","94,010","79,843","103,146","111,391",...,"118,136","102,866","89,847","60,712","47,627","33,276","18,081","6,648","1,522",189
대전광역시,"37,900","49,732","66,628","69,365","84,705","105,332","105,215","88,900","101,769","108,445",...,"120,061","109,796","98,324","66,614","46,249","33,098","18,498","7,039","1,533",226
울산광역시,"27,237","41,388","56,103","53,400","47,499","64,823","70,552","66,016","82,617","87,092",...,"103,683","96,988","81,021","52,099","31,569","19,932","10,162","3,640",723,96
세종특별자치시,"15,727","23,568","28,945","24,878","17,259","19,410","27,421","30,797","38,867","37,832",...,"25,229","21,384","17,999","11,635","7,552","5,247","3,175","1,445",337,44
경기도,"382,996","516,759","668,598","658,513","678,106","898,117","1,000,388","918,895","1,084,527","1,103,612",...,"1,155,867","1,056,289","893,401","570,368","396,958","288,150","166,694","62,251","14,369","2,074"
강원특별자치도,"34,950","46,811","61,191","64,436","69,483","80,041","82,941","75,276","93,686","102,407",...,"134,581","139,782","139,298","94,218","63,029","55,094","33,028","11,636","2,904",437
충청북도,"39,820","54,267","71,037","71,963","74,594","93,460","101,469","90,284","108,190","113,961",...,"140,816","138,823","128,422","86,694","57,247","47,116","29,352","11,164","2,323",314
충청남도,"52,230","76,069","101,483","101,077","98,057","116,240","127,396","124,787","154,331","160,292",...,"175,363","177,769","161,788","113,974","85,420","66,124","44,495","18,700","3,759",494
전북특별자치도,"35,799","53,637","77,888","81,988","83,061","91,601","90,536","82,209","106,874","121,745",...,"151,713","148,523","141,311","103,751","84,690","63,509","40,388","16,431","3,503",462
전라남도,"40,917","55,952","77,251","78,282","74,087","87,098","88,451","81,446","108,063","120,353",...,"159,997","161,213","153,373","110,746","91,224","74,743","48,656","18,098","3,994",548
경상북도,"52,991","78,406","107,386","107,957","104,121","120,174","128,547","125,045","160,769","174,608",...,"227,793","235,216","224,220","165,068","114,822","90,775","58,392","22,444","4,478",595
경상남도,"70,384","112,100","158,302","155,594","134,058","158,121","173,033","170,554","229,339","249,518",...,"295,980","283,446","260,933","180,276","123,151","90,219","54,958","20,678","4,228",513
제주특별자치도,"17,503","27,574","36,090","33,954","30,485","36,065","40,237","36,862","50,131","52,782",...,"58,578","52,615","45,163","29,923","22,819","17,012","10,867","4,825","1,089",208

2. 데이터를 문자열에서 정수로 변환해주기

In [ ]:
print(df_m.dtypes) #현재문자열
#문자열로변환 -> replace()함수를 통해 콤마(,) 제거 -> 타입변경(int)

df_m.iloc[0] = df_m.iloc[0].str.replace(',','').astype(int)

0~4세       object
5~9세       object
10~14세     object
15~19세     object
20~24세     object
25~29세     object
30~34세     object
35~39세     object
40~44세     object
45~49세     object
50~54세     object
55~59세     object
60~64세     object
65~69세     object
70~74세     object
75~79세     object
80~84세     object
85~89세     object
90~94세     object
95~99세     object
100세 이상    object
dtype: object

In [ ]:
여자데이터

In [15]:
df_w = pd.read_excel("data/2509연령별인구현황.xlsx", skiprows=3, index_col='행정기관', usecols='B,E:Y')
df_w

,0~4세,5~9세,10~14세,15~19세,20~24세,25~29세,30~34세,35~39세,40~44세,45~49세,...,55~59세,60~64세,65~69세,70~74세,75~79세,80~84세,85~89세,90~94세,95~99세,100세 이상
행정기관,,,,,,,,,,,,,,,,,,,,,
전국,"1,251,429","1,745,185","2,313,809","2,316,266","2,496,610","3,261,029","3,516,086","3,145,253","3,736,663","3,873,520",...,"4,326,838","4,127,394","3,751,986","2,585,854","1,850,619","1,356,751","788,623","292,592","64,412","8,978"
서울특별시,"201,692","263,714","349,856","370,857","505,624","768,646","806,286","651,106","688,333","680,560",...,"720,741","674,997","643,456","467,429","347,010","241,767","126,352","43,656","10,221","1,510"
부산광역시,"69,765","102,641","135,740","128,517","153,740","190,529","204,122","184,373","226,768","235,964",...,"270,100","274,686","279,090","209,353","147,602","100,879","51,848","16,904","3,565",439
대구광역시,"54,308","81,653","107,209","105,746","117,346","140,108","149,374","135,507","162,480","175,277",...,"210,359","200,363","177,354","128,022","89,803","65,200","36,741","12,845","2,411",287
인천광역시,"82,357","108,240","138,968","136,552","145,194","196,646","226,108","203,353","236,773","237,681",...,"257,841","252,638","216,986","134,972","93,847","64,610","36,936","14,188","3,453",542
광주광역시,"34,853","52,674","71,134","73,187","79,191","94,618","94,010","79,843","103,146","111,391",...,"118,136","102,866","89,847","60,712","47,627","33,276","18,081","6,648","1,522",189
대전광역시,"37,900","49,732","66,628","69,365","84,705","105,332","105,215","88,900","101,769","108,445",...,"120,061","109,796","98,324","66,614","46,249","33,098","18,498","7,039","1,533",226
울산광역시,"27,237","41,388","56,103","53,400","47,499","64,823","70,552","66,016","82,617","87,092",...,"103,683","96,988","81,021","52,099","31,569","19,932","10,162","3,640",723,96
세종특별자치시,"15,727","23,568","28,945","24,878","17,259","19,410","27,421","30,797","38,867","37,832",...,"25,229","21,384","17,999","11,635","7,552","5,247","3,175","1,445",337,44
경기도,"382,996","516,759","668,598","658,513","678,106","898,117","1,000,388","918,895","1,084,527","1,103,612",...,"1,155,867","1,056,289","893,401","570,368","396,958","288,150","166,694","62,251","14,369","2,074"
강원특별자치도,"34,950","46,811","61,191","64,436","69,483","80,041","82,941","75,276","93,686","102,407",...,"134,581","139,782","139,298","94,218","63,029","55,094","33,028","11,636","2,904",437
충청북도,"39,820","54,267","71,037","71,963","74,594","93,460","101,469","90,284","108,190","113,961",...,"140,816","138,823","128,422","86,694","57,247","47,116","29,352","11,164","2,323",314
충청남도,"52,230","76,069","101,483","101,077","98,057","116,240","127,396","124,787","154,331","160,292",...,"175,363","177,769","161,788","113,974","85,420","66,124","44,495","18,700","3,759",494
전북특별자치도,"35,799","53,637","77,888","81,988","83,061","91,601","90,536","82,209","106,874","121,745",...,"151,713","148,523","141,311","103,751","84,690","63,509","40,388","16,431","3,503",462
전라남도,"40,917","55,952","77,251","78,282","74,087","87,098","88,451","81,446","108,063","120,353",...,"159,997","161,213","153,373","110,746","91,224","74,743","48,656","18,098","3,994",548
경상북도,"52,991","78,406","107,386","107,957","104,121","120,174","128,547","125,045","160,769","174,608",...,"227,793","235,216","224,220","165,068","114,822","90,775","58,392","22,444","4,478",595
경상남도,"70,384","112,100","158,302","155,594","134,058","158,121","173,033","170,554","229,339","249,518",...,"295,980","283,446","260,933","180,276","123,151","90,219","54,958","20,678","4,228",513
제주특별자치도,"17,503","27,574","36,090","33,954","30,485","36,065","40,237","36,862","50,131","52,782",...,"58,578","52,615","45,163","29,923","22,819","17,012","10,867","4,825","1,089",208

In [16]:
print(df_w.dtypes) #현재문자열
#문자열로변환 -> replace()함수를 통해 콤마(,) 제거 -> 타입변경(int)

df_w.iloc[0] = df_w.iloc[0].str.replace(',','').astype(int)

0~4세       object
5~9세       object
10~14세     object
15~19세     object
20~24세     object
25~29세     object
30~34세     object
35~39세     object
40~44세     object
45~49세     object
50~54세     object
55~59세     object
60~64세     object
65~69세     object
70~74세     object
75~79세     object
80~84세     object
85~89세     object
90~94세     object
95~99세     object
100세 이상    object
dtype: object

In [13]:
df_w.columns = df_m.columns
df_w.columns

Index(['0~4세', '5~9세', '10~14세', '15~19세', '20~24세', '25~29세', '30~34세',
       '35~39세', '40~44세', '45~49세', '50~54세', '55~59세', '60~64세', '65~69세',
       '70~74세', '75~79세', '80~84세', '85~89세', '90~94세', '95~99세', '100세 이상'],
      dtype='object')